* {
  margin: 0;
  padding: 0;
}
canvas {
  /* background-color: red; */
  width: 1024px;
  height: 576px;
  position: absolute;
  top: 0;
  left: 0;
}

#mainMap,
#pikachu,
#playerDown,
#playerUp,
#playerLeft,
#playerRight,
#pikachuBack {
  display: none;
}

#transitionScreen {
  background-color: black;
  position: absolute;
  width: 1024px;
  height: 576px;
  top: 0;
  left: 0;
  opacity: 0;
}
