* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

canvas {
  /* background-color: red; */
  width: 1024px;
  height: 576px;
  position: absolute;
  top: 0;
  left: 0;
}

#mainMap,
#pikachu,
#playerDown,
#playerUp,
#playerLeft,
#playerRight,
#pikachuBack,
#bulbasaur,
#bulbasaurBack {
  display: none;
}

#transitionScreen {
  background-color: black;
  position: absolute;
  width: 1024px;
  height: 576px;
  top: 0;
  left: 0;
  opacity: 0;
}

#attack {
  background-color: white;
  height: 150px;
  width: 1024px;
  bottom: 0;
  position: absolute;
  border: 5px solid black;
}

#attack {
  display: flex;
}

#attack > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#attack > div > button {
  width: 25%;
}
