* {
  margin: 0;
  padding: 0;
}
canvas {
  /* background-color: red; */
  width: 1024px;
  height: 576px;
  position: absolute;
  top: 0;
  left: 0;
}

#map1,
#pikachu,
#playerDown,
#playerUp,
#playerLeft,
#playerRight {
  display: none;
}
